@media (min-width: 900px) {
    .about_container {
        display: grid;
        grid-template-areas: "subheading img" "text img";
        height: min-content;
    }
}

.about_container h4 {
    grid-area: subheading;
    padding: 0;
    margin-right: 1em;
}

.about_container p {
    grid-area: text;
    margin-right: 1em;
}